body {
  color: #333;
  background: #f9f9f9;
  font-family: Arial, sans-serif;
  margin-left: 15%;
  margin-right: 15%;
}

h1 {
  color: #2c3e50;
  font-size: 2.5em;
}

h2 {
  color: #34495e;
  border-bottom: 2px solid #34495e;
}
